---
import { getRecords } from "../utils/airtable";

const credits = await getRecords("table");

//const { href, title, body } = Astro.props;
---

{
  credits.map((x) => {
    return (
      <>
        <section>
          <div class="mx-auto max-w-screen-4xl py-4 sm:py-4">
            <article class="flex bg-white transition hover:shadow-xl rounded-md">
              <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
                <div class="flex items-center justify-center gap-4 text-xs font-bold uppercase text-gray-900">
                  <span class="text-center">{x.fields.Address}</span>
                </div>
              </div>
              <div class="hidden sm:block sm:basis-56">
                <img
                  alt="Guitar"
                  src={x.fields.image}
                  class="aspect-square h-full w-full object-cover"
                />
              </div>

              <div class="flex flex-1 flex-col justify-between">
                <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
                  <a href="#">
                    <h3 class="font-bold uppercase text-gray-900">
                      {x.fields.Name}
                    </h3>
                  </a>

                  <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
                    {x.fields.Description}
                  </p>
                  <div class="mt-8 flex flex-wrap gap-1">
                    <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                      Score {x.fields.score}
                    </span>

                    <span class="whitespace-nowrap rounded-full bg-yellow-00 px-2.5 py-0.5 text-xs text-purple-600">
                      Ratings {x.fields.ratings}
                    </span>
                  </div>
                </div>

                <div class="sm:flex sm:items-end sm:justify-end">
                  <a
                    href={`/restaurantes/${x.fields.id}`}
                    class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold uppercase text-gray-900 transition hover:bg-yellow-400"
                  >
                    Read More
                  </a>
                </div>
              </div>
            </article>
          </div>
        </section>
      </>
    );
  })
}
